*{
	margin: 0;
}

canvas{
	width: 100%;
	height: 100%;
}

#orientation-overlay{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/orientation.png");
	background-repeat: no-repeat;
	background-position: 50%, 50%;
}
