/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:f4871b7ec61f3a9c9f531df3b1691f66:b0bf6443890e1d12e6b8b5087d5af206:f14fe00dcaff2fd8c84d62ffc2fd4766$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(main_menu_ui.png);}

.avatar {width:42px; height:42px; background-position: -1444px -49px}
.bonus_frame {width:169px; height:103px; background-position: -1px -349px}
.btn_back_off {width:137px; height:55px; background-position: -1088px -300px}
.btn_back_on {width:137px; height:55px; background-position: -787px -286px}
.btn_blue_off {width:167px; height:55px; background-position: -1211px -440px}
.btn_blue_on {width:167px; height:55px; background-position: -770px -1px}
.btn_green_off {width:167px; height:55px; background-position: -770px -58px}
.btn_green_on {width:167px; height:55px; background-position: -770px -115px}
.btn_play {width:72px; height:64px; background-position: -1380px -440px}
.btn_red_off {width:167px; height:55px; background-position: -770px -172px}
.btn_red_on {width:167px; height:55px; background-position: -787px -229px}
.btn_round_green_off {width:45px; height:52px; background-position: -354px -444px}
.btn_round_green_on {width:45px; height:52px; background-position: -1164px -426px}
.btn_select_char_arrow {width:75px; height:92px; background-position: -426px -349px}
.btn_shop {width:127px; height:127px; background-position: -172px -349px}
.coin {width:42px; height:46px; background-position: -1444px -1px}
.construction {width:533px; height:60px; background-position: -1px -287px}
.heart {width:31px; height:27px; background-position: -503px -349px}
.icon_completed {width:34px; height:34px; background-position: -1088px -357px}
.icon_notification {width:51px; height:94px; background-position: -1111px -393px}
.icon_play {width:42px; height:42px; background-position: -1444px -93px}
.league_bronze {width:123px; height:93px; background-position: -301px -349px}
.league_diamond {width:123px; height:93px; background-position: -662px -282px}
.league_gold {width:123px; height:93px; background-position: -736px -411px}
.league_master {width:123px; height:93px; background-position: -861px -411px}
.league_platinum {width:123px; height:93px; background-position: -963px -300px}
.league_silver {width:123px; height:93px; background-position: -986px -395px}
.lock {width:51px; height:56px; background-position: -301px -444px}
.lock_small {width:21px; height:22px; background-position: -503px -378px}
.logo {width:515px; height:284px; background-position: -1px -1px}
.progress_bar {width:299px; height:32px; background-position: -662px -377px}
.progress_bar_back {width:308px; height:42px; background-position: -426px -443px}
.rewarded_video_button {width:125px; height:48px; background-position: -1px -454px}
.share_button {width:124px; height:146px; background-position: -536px -282px}
.statistic_card {width:250px; height:279px; background-position: -518px -1px}
.tooth {width:57px; height:67px; background-position: -1164px -357px}
.tooth_medium {width:42px; height:50px; background-position: -128px -454px}
.tooth_small {width:20px; height:23px; background-position: -503px -402px}
.tutorial_left {width:263px; height:297px; background-position: -963px -1px}
.tutorial_right {width:214px; height:437px; background-position: -1228px -1px}
