/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:f618c2e882d2020f5789920f5a5d2d93:11a29e815940b4eeace7434184af1f83:4c7ccf045e54e36629c6cbec5cb72956$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../ui/ui.png);}

.achievement_txt_panel {width:319px; height:50px; background-position: -574px -1px}
.arrow {width:9px; height:15px; background-position: -634px -378px}
.arrow_empty {width:24px; height:29px; background-position: -896px -210px}
.btn_play_n {width:121px; height:121px; background-position: -651px -128px}
.btn_play_p {width:121px; height:121px; background-position: -524px -255px}
.btn_x_n {width:93px; height:93px; background-position: -896px -1px}
.btn_x_p {width:93px; height:93px; background-position: -896px -96px}
.bug_small_w {width:23px; height:12px; background-position: -896px -241px}
.ellipse_empty {width:6px; height:6px; background-position: -765px -84px}
.ellipse_full {width:6px; height:6px; background-position: -483px -366px}
.gradient_stripe {width:320px; height:29px; background-position: -574px -53px}
.keep_playing {width:189px; height:42px; background-position: -574px -84px}
.lock_icon {width:14px; height:20px; background-position: -922px -210px}
.logo {width:251px; height:119px; background-position: -321px -1px}
.name_tag {width:69px; height:17px; background-position: -896px -191px}
.overlay {width:120px; height:120px; background-position: -774px -84px}
.play_rewarded_video_button {width:201px; height:120px; background-position: -321px -122px}
.play_rewarded_video_button_press {width:201px; height:120px; background-position: -321px -244px}
.profile_frame {width:115px; height:115px; background-position: -773px -328px}
.rewarded_video_bg {width:318px; height:455px; background-position: -1px -1px}
.rewarded_video_light {width:125px; height:125px; background-position: -524px -128px}
.shop_btn_n {width:120px; height:120px; background-position: -774px -206px}
.shop_btn_p {width:120px; height:120px; background-position: -651px -251px}
.skip_rewarded_video_button {width:160px; height:84px; background-position: -321px -366px}
.skip_rewarded_video_button_press {width:149px; height:78px; background-position: -483px -378px}
