/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:7a1994b4b8ea01e4f4d3eacaf5dcec3c:a1a5ee9016c451e49bf5d2836f00e2e9:e8c8bc97176bb3a82d5cc291bbf72814$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.path {
    display:inline-block;
    overflow:hidden;
    background-repeat: no-repeat;
    background-image:url(paths_128.png);
    transform: translateY(85%);
    margin-top: -33px;
}

.path.bat {width:64px; height:64px; background-position: -1px -1px}
.path.caffee {width:64px; height:64px; background-position: -67px -1px}
.path.cake {width:64px; height:64px; background-position: -133px -1px}
.path.coffee {width:64px; height:64px; background-position: -199px -1px}
.path.crocodile {width:64px; height:64px; background-position: -265px -1px}
.path.donut {width:64px; height:64px; background-position: -331px -1px}
.path.f1 {width:64px; height:64px; background-position: -397px -1px}
.path.f1_path {width:64px; height:64px; background-position: -1px -67px}
.path.finger {width:64px; height:64px; background-position: -67px -67px}
.path.hamburger {width:64px; height:64px; background-position: -133px -67px}
.path.heart {width:64px; height:64px; background-position: -199px -67px}
.path.joypad {width:64px; height:64px; background-position: -265px -67px}
.path.money {width:64px; height:64px; background-position: -331px -67px}
.path.monster_blue {width:64px; height:64px; background-position: -397px -67px}
.path.monster_green {width:64px; height:64px; background-position: -1px -133px}
.path.monster_orange {width:64px; height:64px; background-position: -67px -133px}
.path.monster_violet {width:64px; height:64px; background-position: -133px -133px}
.path.mouth {width:64px; height:64px; background-position: -199px -133px}
.path.orange {width:64px; height:64px; background-position: -265px -133px}
.path.pizza {width:64px; height:64px; background-position: -331px -133px}
.path.police {width:64px; height:64px; background-position: -397px -133px}
.path.pyramid {width:64px; height:64px; background-position: -1px -199px}
.path.repro {width:64px; height:64px; background-position: -67px -199px}
.path.rip {width:64px; height:64px; background-position: -133px -199px}
.path.rose {width:64px; height:64px; background-position: -199px -199px}
.path.shark {width:64px; height:64px; background-position: -265px -199px}
.path.stargate {width:64px; height:64px; background-position: -331px -199px}
.path.submarine {width:64px; height:64px; background-position: -397px -199px}
.path.sushi {width:64px; height:64px; background-position: -1px -265px}
.path.tank {width:64px; height:64px; background-position: -67px -265px}
.path.tape {width:64px; height:64px; background-position: -133px -265px}
.path.tv {width:64px; height:64px; background-position: -199px -265px}
.path.ufo {width:64px; height:64px; background-position: -265px -265px}
.path.unicat {width:64px; height:64px; background-position: -331px -265px}
