@font-face {
    font-family: "AldotheApache";
    src: url('../fonts/AldotheApache.ttf') format("truetype");
}
html,
body {
    color: #ffe33e;
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;                  /* Chrome 41 */
    font-family: 'AldotheApache', Arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#content {
    position: absolute;
    z-index: 0;
}

.tutorial {
    right: 2px;
    bottom: 2px;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    padding: 5px;
    cursor: pointer;
    pointer-events: all;
}
.version {
    right: 2px;
    bottom: 2px;
    font-size: 14px;
    color: #c0c0c0;
    position: absolute;
    z-index: 2;
}
#debugText{
    top: 0px;
    left: 0px;
    font-size: 12px;
    color: #2bdb00;
    position: absolute;
    z-index: 15000;
    padding: 15px;
    width: 250px;
    height: 100%;
    pointer-events:none;
}
.tutorial-skip {
    right: 0px;
    bottom: 0px;
    font-size: 25px;
    color: #8c3a8b;
    position: absolute;
    z-index: 4;
    padding: 15px;
}
#multiplier {
    top: 50%;
    left: 50%;
    font-size: 27px;
    color: #00ff2c;
    position: absolute;
    z-index: 4;
    padding: 15px;
    pointer-events:none;
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
#achievementContainer {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 290px;
    height: 69px;
    background: #dbddff;
    color: #7e0095;
    font-size: 23px;
    z-index: 105;
    padding-top: 10px;
    box-shadow: #0a17b985 1px 12px 20px -7px;
    line-height: 20px;
}
#achievementContainer .character {
    width: 24%; float: left;
}
#achievementContainer .character .sprite {
     transform: scale(0.35) translate(-70%, -100%);
     box-shadow: #3c00ce70 0 13px 10px 0px;
 }

#achievementContainer .center-text {
    width: 71%; float: left;
}
#achievementContainer .center-text .first-row{
    color: #7e0095;
    font-size: 23px;
}
#achievementContainer .center-text #achievementTitle {
    color: #ff2a7c;
    font-size: 15px;
}
#achievementContainer .center-text .third-row {
    color: #e92bff;
    font-size: 20px;
    margin-top: 5px;
}
#achievementContainer .cross-wrapper {
    width: 5%;
    float: right;
}
#achievementContainer .cross {
    background: url('../ui/cross.png') no-repeat left;
    width: 33px;
    height: 31px;
    transform: scale(0.75) translate(-69%, -41%);
}
.tap-to-play {
    top: 50%;
    transform: translate(0, -50%);
    font-size: 35px;
    position: absolute;
    z-index: 99;
    pointer-events: none;
    width: 100%;
    text-align: center;
}
.ui-background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 95;
    background: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
    filter: alpha(opacity=0.5);
    -moz-opacity: 0.5;
    -khtml-opacity: 50;
    opacity: 0.5;
}
#rewarded-video-container {
    background: url('../ui/rewarded_video_bg.png') no-repeat left;
    width: 280px;
    height: 501px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    /*padding: 15px;*/
    /*background: red;*/
    /*width: 270px;*/
    /*height: 206px;*/
    /*background: #d700a3;*/
    /*border: solid 15px #a2007f;*/
}
#rewarded-video-container .header {
    /*margin-top: 170px;*/
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
#rewarded-video-container .container {
    width: 256px;
    height: 375px;
    padding: 12px;
    margin-top: 207px;
    line-height: 0.9;
}
#rewarded-video-container .countdown {
    font-size: 81px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
#rewarded-video-container .watch-container {
    margin-top: -15px;
    margin-left: 50%;
    -webkit-transform: translateX(-46%);
    -moz-transform: translateX(-46%);
    -ms-transform: translateX(-46%);
    -o-transform: translateX(-46%);
    transform: translateX(-46%);
}
#rewarded-video-container .watch {
    background: url('../ui/watch_button.png') no-repeat left;
    width: 120px;
    height: 180px;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
    transform: scale(0.65);
    cursor: pointer;
}
#rewarded-video-container .watch.click {
    background: url('../ui/watch_button_click.png') no-repeat left;
    width: 93px;
    height: 147px;
}

.character-container .watch-video {
    display: inline-block;
    background: url('../ui/watch_button.png') no-repeat left;
    width: 120px;
    height: 180px;
    -webkit-transform: scale(0.25) translate(-75%, 75%);
    -moz-transform: scale(0.25) translate(-75%, 75%);
    -ms-transform: scale(0.25) translate(-75%, 75%);
    -o-transform: scale(0.25) translate(-75%, 75%);
    transform: scale(0.25) translate(-75%, 75%);
}
#rewarded-video-container .block.image {
    margin-top: -29px !important;
}
#rewarded-video-container .tv {
    background: url('../ui/video_button.png') no-repeat left;
    width: 85px;
    height: 150px;
    margin: 0 auto;
    transform: scale(0.6);
}
#rewarded-video-container .tv.click {
    background: url('../ui/video_button_click.png') no-repeat left;
}
#rewarded-video-container .block.score-header {
    font-size: 18px;
}
#rewarded-video-container .bottom {
    width: 330px;
    height: 30px;
    background: #830071;
    border-bottom: 20px solid #72005f;
    margin-top: 163px;
    margin-left: -30px;
}
#rewarded-video-container .skip-container {
    margin-top: 16px;
    text-align: center;
}
#rewarded-video-container .skip {
    background: url('../ui/skip_button.png') no-repeat left;
    width: 92px;
    height: 138px;
    margin: 0 auto;
}
#rewarded-video-container .skip.click {
    background: url('../ui/skip_button_click.png') no-repeat left;
}
#rewarded-video-container .no-thanks {
    margin-left: 56%;
    transform: translateX(-50%);
    margin-top: -22px;
    color: #ffbace;
    font-size: 19px;
    cursor: pointer;
}

.tutorial-text {
    position: absolute;
    z-index: 99;
    width: 280px;
    height: 280px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #8c3a8b;
    font-size: 35px;
    pointer-events:none;
}
#debug {
    display: none;
    left: 2px;
    bottom: 2px;
    width: 100px;
    height: auto;
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    z-index: 2;

}
.score-table {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: auto;
    z-index: 2;
    pointer-events:none;
}
.score-player {
    position: absolute;
    left: 0;
    top: 80px;
    width: 157px;
    height: auto;
    z-index: 2;
    background: rgba(0, 0, 0, 0.05);
    pointer-events:none;
}
.score-table .clear-right {
    clear: right;
}
.score-row {
    width: 0%;
    height: 20px;
    background: #f9e200;
    border-bottom: 10px solid #bf9e00;
    color: #bf9e00;
    right: 0;
    float: right;
    font-weight: bold;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.score-row .text {
    margin-left: 10px;
    letter-spacing: 2px;
    padding-top: 3px;
}
.player-marker {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 15px solid #555;
    border-bottom: 9px solid transparent;
    display: inline-block;
    float: right;
    margin-top: 2px;
    margin-right: 5px;
}
.player-marker.character1 {
    border-left-color: #704ec6 !important;
}
.player-marker.character2 {
    border-left-color: #00c6e9 !important;
}
.player-marker.character3 {
    border-left-color: #ff85be !important;
}
.player-marker.character4 {
    border-left-color: #ee0038 !important;
}
.player-marker.character5 {
    border-left-color: #f2c400 !important;
}
.player-marker.character6 {
    border-left-color: #ff002c !important;
}
.player-marker.character7 {
    border-left-color: #e962ed !important;
}
.player-marker.character8 {
    border-left-color: #00f9ff !important;
}
.player-marker.character9 {
    border-left-color: #76ff49 !important;
}
.player-marker.character10 {
    border-left-color: #ff942d !important;
}
.player-marker.character11 {
    border-left-color: #ffe33e !important;
}
.player-marker.character12 {
    border-left-color: #610093 !important;
}
.player-marker.character13 {
    border-left-color: #c03c00 !important;
}
.player-marker.character14 {
    border-left-color: #00e07b !important;
}
.player-marker.character15 {
    border-left-color: #bd00d0 !important;
}
.player-marker.character16 {
    border-left-color: #afafaf !important;
}
.player-marker.character17 {
    border-left-color: #63ffee !important;
}
.player-marker.character18 {
    border-left-color: #ff5cc3 !important;
}
.player-marker.character19 {
    border-left-color: #e60e75 !important;
}
.player-marker.character20 {
    border-left-color: #fed207 !important;
}
.player-marker.character21 {
    border-left-color: #0a850f !important;
}
.player-marker.character22 {
    border-left-color: #9c001c !important;
}
.player-marker.character23 {
    border-left-color: #00d2f3 !important;
}
.player-marker.character24 {
    border-left-color: #866acb !important;
}
.player-marker.character25 {
    border-left-color: #15fff9 !important;
}
.player-marker.character26 {
    border-left-color: #628a1e !important;
}
.score-row.first {
    height: 35px;
    padding-top: 0px;
}
.score-row.current-player {
    background: #f6e995 !important;
    border-bottom: 10px solid #a0975e !important;
    color: #f8626d !important;
}
.score-row.character1 {
    background: #704ec6 !important;
    border-bottom: 10px solid #200055 !important;
    color: #200055 !important;
}
.score-row.character2 {
    background: #00c6e9 !important;
    border-bottom: 10px solid #0880a6 !important;
    color: #0880a6 !important;
}
.score-row.character3 {
    background: #ff85be !important;
    border-bottom: 10px solid #9e4b79 !important;
    color: #9e4b79 !important;
}
.score-row.character4 {
    background: #ee0038 !important;
    border-bottom: 10px solid #770016 !important;
    color: #770016 !important;
}
.score-row.character5 {
    background: #f2c400 !important;
    border-bottom: 10px solid #784f03 !important;
    color: #784f03 !important;
}
.score-row.character6 {
    background: #ff002c !important;
    border-bottom: 10px solid #6d0016 !important;
    color: #6d0016 !important;
}
.score-row.character7 {
    background: #e962ed !important;
    border-bottom: 10px solid #b300a3 !important;
    color: #b300a3 !important;
}
.score-row.character8 {
    background: #00f9ff !important;
    border-bottom: 10px solid #00bbc1 !important;
    color: #00bbc1 !important;
}
.score-row.character9 {
    background: #76ff49 !important;
    border-bottom: 10px solid #00bc17 !important;
    color: #00bc17 !important;
}
.score-row.character10 {
    background: #ff942d !important;
    border-bottom: 10px solid #e05e00 !important;
    color: #e05e00 !important;
}
.score-row.character11 {
    background: #ffe33e !important;
    border-bottom: 10px solid #f4ba00 !important;
    color: #f4ba00 !important;
}
.score-row.character12 {
    background: #610093 !important;
    border-bottom: 10px solid #1d0031 !important;
    color: #1d0031 !important;
}
.score-row.character13 {
    background: #c03c00 !important;
    border-bottom: 10px solid #551001 !important;
    color: #551001 !important;
}
.score-row.character14 {
    background: #00e07b !important;
    border-bottom: 10px solid #00975c !important;
    color: #00975c !important;
}
.score-row.character15 {
    background: #bd00d0 !important;
    border-bottom: 10px solid #540050 !important;
    color: #540050 !important;
}
.score-row.character16 {
    background: #afafaf !important;
    border-bottom: 10px solid #6c6c6c !important;
    color: #6c6c6c !important;
}
.score-row.character17 {
    background: #63ffee !important;
    border-bottom: 10px solid #008c74 !important;
    color: #008c74 !important;
}
.score-row.character18 {
    background: #ff5cc3 !important;
    border-bottom: 10px solid #9d3976 !important;
    color: #9d3976 !important;
}
.score-row.character19 {
    background: #e60e75 !important;
    border-bottom: 10px solid #9c0e4e !important;
    color: #9c0e4e !important;
}
.score-row.character20 {
    background: #fed207 !important;
    border-bottom: 10px solid #a18107 !important;
    color: #a18107 !important;
}
.score-row.character21 {
    background: #0a850f !important;
    border-bottom: 10px solid #0a4d0f !important;
    color: #0a4d0f !important;
}
.score-row.character22 {
    background: #9c001c !important;
    border-bottom: 10px solid #5c0010 !important;
    color: #5c0010 !important;
}
.score-row.character23 {
    background: #00d2f3 !important;
    border-bottom: 10px solid #008ea6 !important;
    color: #008ea6 !important;
}
.score-row.character24 {
    background: #866acb !important;
    border-bottom: 10px solid #574385 !important;
    color: #574385 !important;
}
.score-row.character25 {
    background: #15fff9 !important;
    border-bottom: 10px solid #0f9d98 !important;
    color: #0f9d98 !important;
}
.score-row.character26 {
    background: #628a1e !important;
    border-bottom: 10px solid #304913 !important;
    color: #304913 !important;
}

.hide {
    display: none;
}
.hide-opacity {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

    /* Safari 1.x */
    -khtml-opacity: 00;

    /* Good browsers */
    opacity: 0;
}
.fl {
    float: left;
}
#lobby-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #1d0031;
    pointer-events: none;
}
#lobby-wrapper .center-middle {
     top: 50%;
     left: 50%;
     width: 378px;
     transform: translate(-50%, -50%) scale(1);
 }
.center-middle {
    top: 50%;
    left: 50%;
    width: 378px;
    transform: translate(-50%, -50%) scale(1);
}

#lobby-wrapper .section {
    position: relative;
    background: red;
    padding: 25px 0px 25px 0px;
}
#lobby-wrapper .section.no-top-padding {
    padding-top: 0px !important;
    padding: 12px 0px 25px 0px;
}

.section.dark {
    background: #1d0031 !important;
}
.section.light {
    background: #270244 !important;
    padding: 0 !important;
}

.section .container {
    justify-content: center!important;
    max-width: 380px;
    margin: 0 auto;
    width: fit-content;
}
.container.ac {
    text-align: center;
}
#lobby-wrapper .character-select-wrapper {
    width: 100%;
    height: 300px;
    background: #270244;
}

.high-score {
    float: right;
    margin-top: -29px;
    font-size: 15px;
}
.high-score .label {
    color: #ff41fb;
}
.high-score .number {
    color: #ffb4f9;
}
.character-selection-label {
    text-align: center;
    margin-top: 52px;
    font-size: 26px;
}
.play-button {
    background: url('../ui/play_button.png') no-repeat left;
    width: 123px;
    height: 185px;
    transform: scale(0.6) translate(0%, -50%);
    cursor: pointer;
    margin: 0 auto;
    pointer-events: all;
}
.play-button.click {
    background: url('../ui/play_button_hover.png') no-repeat left !important;
}
.play-label {
    text-align: center;
    margin-top: -90px;
    font-size: 32px;
    color: #9eff30;
    cursor: pointer;
}


@media only screen and (max-height:547px) {
    #play-button-wrapper, #purchase-button-wrapper {
        transform: translateY(-25px) scale(0.75);
    }
}
.play-purchase {
    margin-top: 10px !important;
}

.purchase-button {
    background: url('../ui/purchase_button.png') no-repeat left;
    width: 123px;
    height: 185px;
    transform: scale(0.6) translate(0%, -50%);
    cursor: pointer;
    margin: 0 auto;
    pointer-events: all;
}
.purchase-button.click {
    background: url('../ui/purchase_button_hover.png') no-repeat left !important;
}

.rewarded-video-button {
    background: url('../ui/watch_button.png') no-repeat left;
    width: 120px;
    height: 180px;
    transform: scale(0.6) translate(0%, -50%);
    cursor: pointer;
    margin: 0 auto;
    pointer-events: all;
}
.rewarded-video-button-button.click {
    background: url('../ui/watch_button_click.png') no-repeat left !important;
}
.purchase-label {
    text-align: center;
    margin-top: -90px;
    font-size: 32px;
    color: #ffe33e;
    cursor: pointer;
}
.achievement-label {
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
    color: #ffe33e;
}
.battle-mode-label {
    text-align: center;
    font-size: 32px;
    color: #ff572f;
    display: none;
}
.pt10 {
    padding-top: 10px;
}
.floodFill {
    width: 50px;
    height: 50px;
    background: red;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 99;
    display: none;
}

.killCamBorder {
    position: absolute;
    z-index: 99;
    width: 400px;
    height: 295px;
    border: 5px solid #2e535a;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.killCamBorder .text {
    font-size: 33px;
    color: #ff7f8a;
    margin-top: 15px;
    text-shadow: -3px 0 #b4000d, 0 1px #b4000d, 3px 0 #b4000d, 0 -3px #b4000d;
}
.arrow {
    width: 28px;
    height: 23px;
    transform: scale(0.5) translate(0%, -50%);
    cursor: pointer;
    margin-top: 23px;
    display: inline-block;
}
.arrow.left {
    background: url('../ui/arrow_left.png') no-repeat left;
}
.arrow.right {
    background: url('../ui/arrow_right.png') no-repeat left;
}
.character-container {
    text-align: center;
    display: inline-block;
    width: 60px;
    pointer-events: none;
    line-height: 20px;
}
.character-container .lock {
    background: url(../ui/lockedCharacter.png) no-repeat top;
    width: 138px;
    height: 215px;
    position: absolute;
    z-index: 15;
    margin-top: 52px;
    margin-left: 16px;
    transform: scale(0.5) translate(-51%, -80%);
}
.character-container.active .lock {
    height: 205px;
    margin-top: 52px;
    margin-left: 16px;
    transform: scale(0.7) translate(-38%, -38%);
}
.character-container .sprite {
    margin-top: -35px;
    margin-left: -14px;
}
.character-container .sprite {

    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(0.5);
    -ms-transition: all 200ms ease-out;
    -ms-transform: scale(0.5);
    -moz-transition: all 200ms ease-out;
    -moz-transform: scale(0.5);
    transition: all 200ms ease-out;
    transform: scale(0.5);
}
.character-container.active .sprite {
    margin-top: -9px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.65);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0.65);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(0.65);
}

.character-container.active .sprite.animation {
    animation: blink 1s linear infinite;
}

.character-container .price {
    text-align: center;
    font-size: 27px;
    color: #ffe33e;
    display: inline-block;
    margin-left: 6px;
}
.character-container .price-video {
    text-align: center;
    font-size: 27px;
    color: #ffe33e;
    display: inline-block;
    margin-left: -18px;
    margin-top: 19px;
}
.character-container .coin {
    background: url('../ui/coin.png') no-repeat left;
    width: 40px;
    height: 40px;
    display: inline-block;
    transform: scale(0.5) translate(-50%, 50%);
}
.character-container .video {
    background: url('../ui/video.png') no-repeat left;
    width: 27px;
    height: 40px;
    display: inline-block;
    transform: scale(0.5) translate(-50%, 50%);
    margin-left: 3px;
}
.character-container.active .price {
    font-size: 35px;
}
.character-container .achievement {
    text-align: center;
    font-size: 16px;
    color: #ffe33e;
    margin-top: -23px;
    margin-left: 2px;
}
.character-container.active .achievement {
    text-align: center;
    font-size: 23px;
    color: #ffe33e;
    margin-left: -5px;
    margin-top: -14px;
}
.price-wrapper {
    text-align: center;
    margin-top: -35px;
    margin-left: 6px;
    width: 110%;
}
.character-container.active .price-wrapper {
    margin-top: -29px;
}
@keyframes blink{
    0%{transform: scale(0.65, 0.65)}
    25%{transform: scale(0.65, 0.60)}
    50%{transform: scale(0.65, 0.55)}
    75%{transform: scale(0.65, 0.60)}
    100%{transform: scale(0.65, 0.65)}
}



.character-selection-container {
    max-width: 300px !important;
    height: 215px;
    pointer-events: all;
}

.slick-next {
    height: 213px !important;
    margin-top: -67px;
    width: 60px !important;
    margin-right: -20px;
}

.slick-prev {
    height: 213px !important;
    margin-top: -67px;
    width: 60px !important;
    margin-left: -10px;
}

@media (max-width:340px) {
    .character-selection-container {
        transform: scale(0.85) !important;
        height: 188px  !important;;
    }

    .character-container {
        margin-top: -16px !important;
    }
}


@media (max-width:290px) {
    .character-selection-container {
        transform: scale(0.75) !important;
    }

    .logo img {
        width: 240px;
    }
}


@media only screen and (max-width:360px) {
    .logo img {
        width: 280px;
    }
}

@media only screen and (max-width:320px) {
    .logo img {
        width: 260px;
    }
}
@media only screen and (max-height:557px) {
    .character-selection-label {
        margin-top: 32px;
    }
}

@media only screen and (max-height:528px) {
    .logo img {
        width: 240px;
    }
}

@media only screen and (max-height:528px) {
    .logo img {
        width: 240px;
    }
}

@media only screen and (max-height:504px) {
    .logo img {
        width: 230px;
    }
    .character-selection-label {
        margin-top: 5px;
    }
    #lobby-wrapper .section {
        padding-bottom: 10px;
    }
    #lobby-wrapper .section {
        padding-bottom: 5px;
    }
    #play-button-wrapper {
        margin-top: -10px;
    }
    #play-button-wrapper {
        margin-top: -10px;
    }
    .score-table {
        transform: scale(0.75) translate(17%, -15%);
    }

}
