@font-face {
    font-family: "Days";
    src: url('../fonts/Days.ttf') format("truetype");
}
@font-face {
    font-family: "PFDinDisplay-Bold";
    src: url('../fonts/PFDinDisplay-Bold.otf') format("opentype");
}


html,
body {
    color: #ffe33e;
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;                  /* Chrome 41 */
    font-family: 'Days', Arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.loading-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 32px;
    color: white;
}
#content {
    position: absolute;
    z-index: 0;
}
.version {
    right: 2px;
    bottom: 2px;
    font-size: 9px;
    font-family: Arial;
    color: #919191;
    position: absolute;
    z-index: 2;
    opacity: 0.5;
}
.hide {
    display: none;
}

#rightClick {
    opacity:0; /* not FULLY transparent */
    filter: alpha(opacity=0); /* IE8 and lower */
    zoom: 1; /* Triggers "hasLayout" in IE 7 and lower */
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    background: rgba(45, 150, 34, 0.18);
}

#xp {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    font-size: 15px;
    z-index: 3;
}

.popup {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 280px;
    height: 95px;
    background: linear-gradient(#0a5996, #0a5996, #5cb3f0);
    border: #022d4e solid 3px;
    border-radius: 10px;
    transform: translateX(-50%);
    color: #ffc254;
    z-index: 70;
    text-align: center;
    pointer-events: none;
}

.popup .title {
    color: #fdd34b;
    font-size: 23px;
}

.popup .inner-box {
    width: 90%;
    height: 54px;
    background: #022d4f;
    color: white;
    /*display: inline-block;*/
    font-size: 18px;
    border-radius: 7px;
    border-bottom: white 3px solid;
    margin-left: 5%;
    margin-right: 5%;
}
.popup .inner-box .center-text {
    padding-top: 15px;
}

.popup .colored-text {
    color: #fdd34b;
}

.level-progress-wrapper {
    width: 223px;
    height: 20px;
    background: #022d4f;
    z-index: 3;
    display: inline-block;
    padding: 4px;
}

.level-progress-wrapper .level-progress{
    height: 100%;
    width: 0%;
    background: #fa2223;
}

.ui-overlay {
    pointer-events: none;
}

.ui-overlay .text {
    color: white;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    width: 46px;
}

#level {
    font-size: 38px;
    width: 35px;
    margin-left: 10px;
    margin-top: 2px;
}

.ui-overlay .icon {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.icon-countdown {
    background: url(../ui/icon_countdown.png);
    width: 26px;
    height: 26px;
}

.ui-overlay .icon-alive {
    margin-left: 23px;
    background: url(../ui/icon_alive.png);
    width: 27px;
    height: 27px;
}

.alivePlayers-wrapper {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 41px;
    height: 41px;
    background: rgba(91, 90, 92, 0.67);
    color: white;
    font-size: 45px;
    padding: 8px;
}

.alivePlayers-wrapper #alivePlayers {

}

#win-lose-screen-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#0a5a97, #479bd9);
    z-index: 50;
    width: 282px;
    height: auto;
    /*padding: 6px;*/
    border: solid 3px #012c50;
    border-radius: 8px;
}

#win-lose-screen-wrapper .head-wrapper {
    margin-top: -134px;
    text-align: center;
    transform: translateX(-15px);
}


#win-lose-screen-wrapper .bonus-wrapper {
    z-index: -1 !important;
    position: absolute;
    display: inline-block;
    margin-top: -85px;
    margin-left: 166px;
    transform: scale(0.75) rotate(-13deg);
}
#win-lose-screen-wrapper .bonus-wrapper .text {
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    margin-top: 7px;
}

#win-lose-screen-wrapper .bonus-wrapper .text .score_bonus_title {
    font-size: 20px !important;
}

#win-lose-screen-wrapper .title {
    color: #ffe33e;
    font-size: 32px;
    margin-top: 10px;
    text-align: center;
}

#win-lose-screen-wrapper .scoreCounter {
    text-align: center;
    font-size: 40px;
    color: white;
}

#win-lose-screen-wrapper .bonusCounter {
    text-align: center;
    font-size: 16px;
    color: white;
}

#win-lose-screen-wrapper .bonusCounter.newLeague {
    color: #ffb628;
}

#win-lose-screen-wrapper .center {
    margin: 0 auto;
}

#win-lose-screen-wrapper .progress-league-wrapper-bg {
    background: #0a5896;
    padding-top: 8px;
    height: 53px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.progress-league-wrapper {
    width: 206px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 15px;
    transform: translateX(-5px);
}

.progress-league-wrapper .progress-league-inner {
    background: #022d4e;
    width: 73%;
    padding: 5px;
    margin: 7px;
    margin-left: 26px;
}

.progress-league-wrapper .progress-league-core {
    background: linear-gradient(90deg, #f6ae11, #fbcf49);
    height: 100%;
}

.progress-league-wrapper .text {
    position: absolute;
    text-align: center;
    color: white;
    width: 83%;
    /*http://owumaro.github.io/text-stroke-generator/*/
    text-shadow: rgb(2, 45, 78) 3px 0px 0px, rgb(2, 45, 78) 2.83487px 0.981584px 0px, rgb(2, 45, 78) 2.35766px 1.85511px 0px, rgb(2, 45, 78) 1.62091px 2.52441px 0px, rgb(2, 45, 78) 0.705713px 2.91581px 0px, rgb(2, 45, 78) -0.287171px 2.98622px 0px, rgb(2, 45, 78) -1.24844px 2.72789px 0px, rgb(2, 45, 78) -2.07227px 2.16926px 0px, rgb(2, 45, 78) -2.66798px 1.37182px 0px, rgb(2, 45, 78) -2.96998px 0.42336px 0px, rgb(2, 45, 78) -2.94502px -0.571704px 0px, rgb(2, 45, 78) -2.59586px -1.50383px 0px, rgb(2, 45, 78) -1.96093px -2.27041px 0px, rgb(2, 45, 78) -1.11013px -2.78704px 0px, rgb(2, 45, 78) -0.137119px -2.99686px 0px, rgb(2, 45, 78) 0.850987px -2.87677px 0px, rgb(2, 45, 78) 1.74541px -2.43999px 0px, rgb(2, 45, 78) 2.44769px -1.73459px 0px, rgb(2, 45, 78) 2.88051px -0.838247px 0px;
}

.league-wrapper {
    position: absolute;
}

.button-block .league-wrapper {
    position: relative;
    transform: scale(0.7) translate(0%, 58%);
    margin-left: -18px;
    margin-top: -45px;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.league-wrapper.left {
    transform: scale(0.4) translate(-166px, -70px);
    left: 0;
}

.league-wrapper.right {
    transform: scale(0.4) translate(184px, -166px);
    right: 0;
}

.league-wrapper .league-number-wrapper {
    margin-left: 36px;
    margin-top: 17px;
}

.league-wrapper .league-number-wrapper .league-number {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 41px;
}

.shine {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 99px;
    background: radial-gradient(#fac232, rgba(255, 227, 62, 0), rgba(255, 227, 62, 0));
    transform: translate(-54%, -43%);
}

/*text color*/
.league_bronze {
    color: #80461e;
}

.league_silver {
    color: #0079b5;
}

.league_gold {
    color: #af6a02;
}

.league_platinum {
    color: #5e819f;
}

.league_diamond {
    color: #017779;
}

.league_master{
    color: #FFF;
}

.construction {
    position: absolute;
    margin-left: -13%;
    margin-top: 227px;
    z-index: 1;
}

.leagueListPlusButton {
    border: 4px solid #2db343;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
    background: linear-gradient(#53a621, #195e01);
    box-shadow: #000000 0px 3px 8px;

    font-size: 37px;
    line-height: 30px;
    position: absolute;
    cursor: pointer;
    margin-right: -4px;
    margin-bottom: -4px;
    right: 0;
    bottom: 0;
}

/*league position*/
/*.league-wrapper.league_bronze {*/
    /*transform: scale(0.7) translate(53px, -91px);*/
/*}*/

/*.league-number.league_silver {*/
    /*transform: scale(0.7) translate(53px, -91px);*/
/*}*/

/*.league-number.league_gold {*/
    /*color: #af6a02;*/
/*}*/

/*.league-number.league_platinum {*/
    /*color: #5e819f;*/
/*}*/

/*.league-number.league_diamond {*/
    /*color: #017779;*/
/*}*/

/*.league-number.league_master {*/
    /*color: #FFF;*/
/*}*/


#win-lose-screen-wrapper .button {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
    border-bottom: 3px solid #539ed0;
    padding: 5px;
    background: #206fa2;
}
#win-lose-screen-wrapper .table-wrapper {
    /*padding: 0 12px 0 12px;*/
    padding-left: 11px;
    padding-right: 11px;
}

#win-lose-screen-wrapper table {
    width: 100%;
    /*border-collapse: collapse;*/
    border-spacing: 0;
}

#win-lose-screen-wrapper table td {
    /*text-align: center;*/
    color: white;
    border: 0px solid black;
    height: 30px;
}

#win-lose-screen-wrapper table tr {
    border: 0px solid black;
}

#win-lose-screen-wrapper table .value {
    display: inline-block;
    color: yellow;
    /*margin-left: 10px;*/
    transform: translateY(-3px);
}

#win-lose-screen-wrapper table .spacer {
    height: 20px;
}

#win-lose-screen-wrapper table tr {
    background: #022d4e;
}

#win-lose-screen-wrapper table td {
    padding-left: 8px;
}

#win-lose-screen-wrapper table tr:last-child {
    background: #0f5990;
}

#win-lose-screen-wrapper table td:first-child {
    text-align: right;
    width: 50%;
}
#win-lose-screen-wrapper table td:last-child {
    text-align: left;
    width: 50%;
    /*border-left: 3px  solid #5db0ec;*/
}

/* top-left border-radius */
#win-lose-screen-wrapper table tr:first-child td:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
#win-lose-screen-wrapper table tr:first-child td:last-child {
    border-top-right-radius: 6px;
}

/* bottom-left border-radius */
#win-lose-screen-wrapper table tr:last-child td:first-child {
    /*border-bottom: 3px solid white;*/
    border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
#win-lose-screen-wrapper table tr:last-child td:last-child {
    /*border-bottom: 3px solid white;*/
    border-bottom-right-radius: 6px;
}
#win-lose-screen-wrapper .buttons {
    text-align: center;
    margin-top: 20px;
}

#win-lose-screen-wrapper .buttons .btn_green_off {
    transform: scale(1.25);
}

#win-lose-screen-wrapper .buttons .btn_red_off {
    transform: scale(0.75);
}

#win-lose-screen-wrapper .sprite, .win_lose_screen_characters {
    /*display: inline-block;*/
    cursor: pointer;
}
#win-lose-screen-wrapper .sprite.heart {
    /*transform: scale(0.85) translateY(-5px);*/
}

#win-lose-screen-wrapper .rewarded-video-button-wrapper .button-title {
    position: absolute;
    transform: translate(-53px, -36px);
    display: inline-block;
    color: white;
    font-size: 25px;
}

#win-lose-screen-wrapper .btn-green-off .button-title {
    display: inline-block;
    color: white;
    font-size: 20px;
    position: absolute;
    transform: translate(-12px, 6px);
}

#win-lose-screen-wrapper .exit-button-title {
    color: #63bdff;
    cursor: pointer;
    padding: 10px;
}

#claimRewardedVideo {
    /*transform: scale(1) !important;*/
    /*float: left;*/
}

#claimRewardedVideo .button-title {
    transform: translate(25px, 13px) !important;
    font-size: 18px !important;
}

#claimDoubleLP {
    display: inline-block;
    margin-left: 6px;
}

#claimDoubleLP .button-title {
    margin-left: 54px;
    font-size: 20px !important;
    width: 53px;
}

#claimRewardedVideo .btn_play {
    float: left;
    transform: scale(0.85) translate(-7px, -8px)
}

.sprite.share_button {
    top: 60px;
    left: 5px;
    position: absolute;
    z-index: 70;
    cursor: pointer;
}


.sprite.share_button.passive {
    pointer-events: none;
}

.sprite.share_button.animation {
    top: 15px;
    left: 15px;
    animation: share_button_animation 500ms ease-in-out infinite alternate;
    -webkit-animation: share_button_animation 500ms ease-in-out infinite alternate;
}

@keyframes share_button_animation {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }
}

.current-league-wrapper.animation {
    z-index: 50;
    position: relative;
    animation: current-league-wrapper_animation 500ms ease-in-out infinite alternate;
    -webkit-animation: current-league-wrapper_animation 500ms ease-in-out infinite alternate;
}

@keyframes current-league-wrapper_animation {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.25, 1.25) translate(11%, 0);
        -webkit-transform: scale(1.25, 1.25) translate(11%, 0);
    }
}

.returnToMenuButton {
    text-align: center;
    /*margin-top: 79px;*/
}

.tap-to-play {
    top: 50%;
    transform: translate(0, -50%);
    font-size: 35px;
    position: absolute;
    z-index: 99;
    pointer-events: none;
    width: 100%;
    text-align: center;
    pointer-events:none;
}

.ui-background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: #0a103b;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.75)";
    filter: alpha(opacity=0.57);
    -moz-opacity: 0.75;
    -khtml-opacity: 75;
    opacity: 0.75;
}

.ui-background-overlay-full-black {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: #000;
}

.ui-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../ui/ui_top.png);
    width: 640px;
    height: 136px;
    z-index: 5;
}

/*Vectors*/
.gem-small {
    background: url(../ui/vector/gem.svg) no-repeat;
    width: 19px;
    height: 23px;
    transform: translate(2px, 4px);
    display: inline-block;
}

.gem-medium {
    background: url(../ui/vector/gem.svg) no-repeat;
    width: 37px;
    height: 49px;
    position: absolute;
    transform: translate(20px, -4px);
}

.btn-green-off {
    background: url(../ui/vector/btn_green_off.svg) no-repeat;
    width: 125px;
    height: 41px;
}

#winScreenOkButton.btn-green-off {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.rewarded-video-button-wrapper {
    display: inline-block;
    cursor: pointer;
}

.rewarded-video-button-wrapper .btn-green-off {
    margin-top: -45px;
    z-index: 5;
    margin-left: 17px;
}

.rewarded-video-button-wrapper .heart {
    background: url(../ui/vector/heart.svg) no-repeat;
    width: 31px;
    height: 27px;
    position: absolute;
    margin-top: -34px;
    margin-left: -2px;
    display: inline-block;
}

.btn-play {
    background: url(../ui/vector/btn_play.svg) no-repeat;
    width: 55px;
    height: 48px;
    z-index: 6;
    position: relative;
}

.rewarded-video-button-wrapper .text {
    display: inline-block;
    color: white;
    position: absolute;
    margin-top: -35px;
    margin-left: 38px;
    font-size: 18px;
}

/*Vectors end*/

@media only screen and (max-width: 640px) {

    .ui-overlay {
        transform: scale(0.5) translate(50%, -50%);
    }

    .sprite.share_button {
        zoom: 0.5;
    }

}

@media only screen and (max-width:315px) {

    .ui-overlay {
        transform: scale(0.35) translate(93%, -91%);
    }

}

#lobby-screen-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 1);
    background: url(../ui/main_back.png);
    background-repeat: repeat-y;
    background-position: center;
    overflow: hidden;

    animation:20s scroll infinite linear;
}

@keyframes scroll{
    100%{
        background-position: center -3000px;
    }
}

.lobby-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.lobby-screen.black {
    background: #000 !important;
}

.lobby-screen.activeCharacterSelection {
    margin-top: 53px
}
::-webkit-scrollbar {
    display: block;
}

#lobby-screen-wrapper .center {
    /*height: auto;*/
    max-width: 450px;
    width: 100%;
    text-align: center;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    background-repeat: repeat;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-height:750px) {
    #lobby-screen-wrapper .center {
        top: 0;
        left: 50%;
        background-repeat: repeat;

        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


#lobby-screen-wrapper .logo {
    background: url(../ui/logo.png) no-repeat;
    background-size: contain;
    width: 450px;
    /*max-width: 580px;*/
    pointer-events: none;
}

#lobby-screen-wrapper .tables-wrapper {
    height: 237px;
    width: 425px;
    margin: 0 auto;
}

#lobby-screen-wrapper .tables-wrapper .leagues-table {
    background: #369de6;
    float: left;
    position: relative;
    z-index: 10;
}

#lobby-screen-wrapper .tables-wrapper .leaderboard-table {
    background: #369de6;
    float: right;
    position: relative;
    z-index: 10;
    height: auto; /* 191 */
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#lobby-screen-wrapper .tables-wrapper .leaderboard-table.friends1 {
    margin-top: 49px;
}

#lobby-screen-wrapper .tables-wrapper .leaderboard-table.friends0 {
    margin-top: 98px;
}

.leaderboard-table .inner .row .right {
    color: white;
    width: 336px;
    text-align: left;
    margin-top: 6px;
    font-size: 26px;
}

.leaderboard-table .inner .row .right .name {
    max-width: 200px;
    overflow: hidden;
    display: inline-block;
}

.leaderboard-table .inner .row .right .score {
    float: right;
    font-family: 'PFDinDisplay-Bold', Arial;
    margin-top: 5px;
}

.bottom-league-table {
    background: #369de6;
    position: relative;
    z-index: 11;
    height: 67px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.bottom-league-table.alone {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#lobby-screen-wrapper .tables-wrapper .row {
    text-align: left;
}

#lobby-screen-wrapper .tables-wrapper .table {
    display: inline-block;
    width: 100%;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

#lobby-screen-wrapper .tables-wrapper .table .title {
    color: #ffe33e;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#lobby-screen-wrapper .tables-wrapper .table .row-title {
    color: #ffe33e;
    font-size: 17px;
    display: inline-block;
}

#lobby-screen-wrapper .tables-wrapper .table .inner {
    width: 415px;
    margin-left: 5px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner tr:first-child td:first-child {
    border-top-left-radius: 6px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner tr:first-child td:last-child {
    border-top-right-radius: 6px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}


#lobby-screen-wrapper .tables-wrapper .table .inner table {
    table-layout:fixed;
    border: none;
    border-spacing: 0;
}

#lobby-screen-wrapper .tables-wrapper .table .inner table td {
    width: 30px;
    border: 0px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

#lobby-screen-wrapper .tables-wrapper .table .inner table tr {
    height: 49px;
    color: #9c9c9c;
    font-size: 17px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner .row .title {
    margin-top: -86px;
    margin-left: 47px;
    text-align: center;
}

#lobby-screen-wrapper .tables-wrapper .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 13px;
    border-color: transparent transparent transparent #3ea8e9;
    margin-left: -3px;
    display: inline-block;
}

#lobby-screen-wrapper .tables-wrapper .triangleOposite {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 13px 19px 0;
    border-color: transparent #3ea8e9 transparent transparent;
    display: inline-block;
    margin-right: -3px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner .current .title {
    color: #ffe33e !important;
}

#lobby-screen-wrapper .tables-wrapper .table .inner .row {
    width: 100%;
    height: 49px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner .tr:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner .tr:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#lobby-screen-wrapper .tables-wrapper .leagues-table.table .inner table td {
    background: #0a5996 !important;
}

#lobby-screen-wrapper .tables-wrapper .leagues-table.table .inner table tr:first-child td,
#lobby-screen-wrapper .tables-wrapper .leagues-table.table .inner table tr:last-child td{
    background: #022d4e !important;
}

#lobby-screen-wrapper .tables-wrapper .leaderboard-table.table .inner .row {
    background: #085996 !important;
}

#lobby-screen-wrapper .tables-wrapper .leaderboard-table.table .inner .row:first-child,
#lobby-screen-wrapper .tables-wrapper .leaderboard-table.table .inner .row:last-child {
    background: #012d4e !important;
}

#lobby-screen-wrapper .tables-wrapper .leaderboard-table.table .inner .row:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#lobby-screen-wrapper .tables-wrapper .leaderboard-table.table .inner .row:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#lobby-screen-wrapper .tables-wrapper .table .inner .me.row .right {
    color: #ffe33e !important;
}

.league-wrapper .league_number {
    padding-top: 20px;
    font-size: 35px;
}

.league-wrapper {
    /*-webkit-transform: scale(0.5);*/
    /*-moz-transform: scale(0.5);*/
    /*-ms-transform: scale(0.5);*/
    /*-o-transform: scale(0.5);*/
    /*transform: scale(0.5);*/
    display: inline-block;
    text-align: center!important;
    /*margin-left: -20px;*/
    /*margin-top: -26px;*/
}

#leaguesTableInner .league-wrapper {
    zoom: 0.45 !important;
}

.league-block .league-wrapper {
    /*zoom: 0.45 !important;*/
    display: inline-block;
}

.league-wrapper.leaderboard {
    position: absolute;
    zoom: 0.3;
    margin-left: -25px;
    margin-top: -9px;
}

.league-wrapper.league-list {
    position: absolute;
    zoom: 0.45;
    margin-left: -1px;
    margin-top: 17px;
}

.league-wrapper .title {
    display: inline-block;
}

.league-list .bonus {
    position: absolute;
    z-index: 65;
    margin-top: -9px;
    background: #012c4f;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    width: 55px;
    text-align: center;
}

    /* START Character in main menu */
#lobby-screen-wrapper #main-menu .character-container-wrapper {
    margin-bottom: 105px;
    margin-top: 70px;
    pointer-events: all;
    height: 158px;
}


#lobby-screen-wrapper #main-menu .inner-character-container-wrapper {
    transform: rotate(180deg) scale(1.25);
}

.lock-wrapper {
    width: 80%;
    height: 46px;
     background: rgba(0, 0, 0, 0.42);
    /*background: rgba(161, 0, 0, 0.31);*/
    position: relative;
    margin: 0 auto;
    margin-top: -107px;
    z-index: 60;
}


.lock-icon {
    background: url(../ui/vector/lock.svg) no-repeat;
    width: 44px;
    height: 49px;
    display: inline-block;
}

.lock-icon.small {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 55;
    margin-top: 40px;
    margin-left: 48px;
}

#lobby-screen-wrapper #main-menu .character-container {
    margin: 0 auto;
    width: 150px;
}

#lobby-screen-wrapper #main-menu .slick-current .character-container {
    animation: light-pulse 500ms ease-in-out infinite alternate;
    -webkit-animation: light-pulse 500ms ease-in-out infinite alternate;
}

@keyframes light-pulse {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }
}

#lobby-screen-wrapper #main-menu .character-container .fist-left-wrapper {
    position: absolute;
    transform: scale(-1, 1) translate(-80px, -171px);
    -webkit-transform: scale(-1, 1) translate(-80px, -171px);
}

#lobby-screen-wrapper #main-menu .character-container .fist-right-wrapper {
    position: absolute;
    transform: translate(-1px, -171px);
    -webkit-transform: translate(-1px, -171px);
}

@keyframes punch {
    0% {
        transform: translateY(0px) rotate(45deg);
    }
    50% {
        transform: translateY(0px) rotate(45deg);
    }
    100% {
        transform: translateY(-50px) translateX(30px) rotate(45deg);
    }
}

@-webkit-keyframes punch {

    0% {
        -webkit-transform: translateY(0px) rotate(45deg);
    }
    50% {
        -webkit-transform: translateY(0px) rotate(45deg);
    }
    100% {
        -webkit-transform: translateY(-50px) translateX(30px) rotate(45deg);
    }
}


#lobby-screen-wrapper #main-menu .character-container .fist-left-wrapper .fist {
    transform: translateY(0px) rotate(45deg);
}

#lobby-screen-wrapper #main-menu .character-container .fist-right-wrapper .fist {
    transform: translateY(0px) rotate(45deg);
}

#lobby-screen-wrapper #main-menu .slick-current .character-container .fist-left-wrapper .fist {
    animation: punch 600ms infinite alternate;
    -webkit-animation: punch 600ms infinite alternate;
}

#lobby-screen-wrapper #main-menu .slick-current .character-container .fist-right-wrapper .fist {
    animation: punch 600ms infinite alternate;
    -webkit-animation: punch 600ms infinite alternate;
    animation-delay: 600ms;
}
/* END Character in main menu */

#lobby-screen-wrapper #main-menu .change-character-wrapper {
    margin-top: -47px;
}

.change-character-wrapper .left,.right {
    display: inline-block;
    float: left;
}

.change-character-wrapper .left {
    float: left;
    transform: translateY(70%);
    margin-top: -55px;
    z-index: 50;
    position: relative;
}

.change-character-wrapper .text-wrapper {
    margin-top: -50px;
    margin-left: 43px;
    font-size: 20px;
}

.change-character-wrapper .text-wrapper .value-title {
    color: #8c0000;
}

.change-character-wrapper .text-wrapper .value-title {
    margin-top: 20px;
}

.change-character-wrapper .text-wrapper .value-title:first-child {
    margin-top: 28px;
}

.change-character-wrapper .text-wrapper .value {
    color: #000;
}

.league-wrapper-menu {
    margin-left: -123px;
    margin-top: 15px;
}

.league-wrapper-menu .league_number {
    padding-top: 20px;
    font-size: 35px;
}

.btn_select_char {
    cursor: pointer;
}

#lobby-screen-wrapper #main-menu .change-character-wrapper .title {
    margin-top: 35px;
}

#lobby-screen-wrapper #main-menu .tap-to-play-main-menu {
    color: white;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    pointer-events: none;
}


#lobby-screen-wrapper #character-selection-scroller {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

#lobby-screen-wrapper #character-selection {
    text-align: center;
}

 .back {
    /*margin-left: -157px;*/
    /*margin-bottom: 0px;*/
    /*transform: scale(0.75) translateX(-25%);*/
    line-height: 1.8;
    font-size: 29px;
    text-transform: uppercase;
    cursor: pointer;
     color: white;
     z-index: 55;
     position: absolute;

     left: 50%;
     transform: scale(0.75) translateX(-146%);
     text-align: center;

}

#lobby-screen-wrapper #character-selection{
    margin-top: 10px;
    padding-bottom: 60px;
}

#lobby-screen-wrapper #character-selection .selection-wrapper {
    background: linear-gradient(#0a5996, #5cb3f0);
    border: #022d4e solid 4px;
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding-bottom: 10px;
    margin: 0 auto;
    /*margin-bottom: 80px;*/
}

.selection-wrapper .title {
    text-align: center;
    color: #fcd147;
    font-size: 27px;
    margin: 10px;
}


.selection-wrapper .row {
    width: 100%;
    margin: 5px;
    height: 73px;
}

.character-box {
    display: inline-block;
    width: 60px;
    height: 100%;
    margin-right: 10px;
    background: linear-gradient(#5cb3f0, #d8efff);
    float: left;
    margin-left: 5px;
    border-radius: 5px;
}

.character-box.leaderboard {
    width: 56px !important;
    height: 44px !important;
    margin-left: 8px;
    margin-top: 2px;
}

.character-box.league-list {
    width: 55px;
    height: 55px !important;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


.character-box.league-list.locked {
    background: linear-gradient(#083e6a, #021e36) !important;
}


.character-box.league-list.current {
    background: linear-gradient(#face47, #f5ae14) !important;
}

.character-box.league-list .blue-layer {
    position: absolute;
    width: 54px;
    height: 54px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(#083e6a, #021e36) !important;
    opacity: 0.5;
    z-index: 60;
}
.character-box .character {
    /*position: absolute;*/
    transform: scale(0.45) translate(-66%, -55%) rotate(180deg);
}

.character-box .avatar img {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    margin-left: 4px;
    border-radius: 85px;
}

.character-box .avatar {
    margin-top: 1px;
    margin-left: 4px;
    border-radius: 55px;
}

.selection-wrapper .row .character-info {
    display: inline-block;
    background: #022d4e;
    width: 212px;
    height: 100%;
    float: left;
    border-radius: 5px;
}

.selection-wrapper .row .character-info .name {
    color: #e4b22f;
    font-size: 20px;
}

.selection-wrapper .row .character-info .white {
    color: #FFF;
}

.progress-inner {
    background: #011423;
    width: 91%;
    height: 15px;
    padding: 5px;
    margin: 0 auto;
}

.button-block .progress-inner {
    width: 50% !important;
}

.progress-core {
    background: linear-gradient(90deg, #f6ae11, #fbcf49);
    height: 100%;
}

.selection-wrapper .character-info .row {
    width: 100%;
    height: 25px;
    text-align: center;
    margin: 0;
}

.sprite.lock_small {
    position: absolute;
    z-index: 65;
    margin-top: 39px;
    margin-left: 40px;
}
.league-block {
    width: 100%;
    height: auto;
    /*background: rgba(255, 27, 0, 0.34);*/
    margin-top: 17px;
}

.progress-bar-wrapper {
    width: 45%;
    height: 19px;
    background-color: #000;
    padding: 4px;
    margin: 0 auto;
    display: inline-block;
}

.progress-bar-core {
    width: 50%;
    height: 100%;
    background: linear-gradient(#f6ac0d, #fbcf4a);
}

#character-selection .coin, .icon_play {
    display: inline-block;
    transform: translateY(7px);
}

#character-selection .price {
    display: inline-block;
    transform: translateY(-7px);
}

#character-selection .button {
    transform: scale(0.75) translate(-0%, -15%);
    margin: 0 auto;
    display: inline-block;
    line-height: 1.8;
    font-size: 29px;
    text-transform: uppercase;
    cursor: pointer;
}

.achievement-description {
    margin-top: -98px;
    margin-left: 54px;
    width: 80%;
    font-size: 14px;
}

.achievement-character {
    transform: rotate(180deg) scale(0.45);
    margin-left: -190px;
    margin-top: -49px;
}

.opacity {
    opacity: 0;
}
#showCharacterSelectionScreen {
    transform: translate(-10%);
}

.tutorial {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow: hidden;
}

.tutorial .tutorial_left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.tutorial .tutorial_right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sprite.icon_notification {
    position: absolute;
    z-index: 10;
    -webkit-transform: scale(0.75) translate(0px, -60px);
    -moz-transform: scale(0.75) translate(0px, -60px);
    -ms-transform: scale(0.75) translate(0px, -60px);
    -o-transform: scale(0.75) translate(0px, -60px);
    transform: scale(0.75) translate(0px, -60px);
}

.icon-notification-wrapper {
    animation: light-pulse 500ms ease-in-out infinite alternate;
    -webkit-animation: light-pulse 500ms ease-in-out infinite alternate;
    z-index: 50;
    position: relative;
}

.sprite.btn_round_green_off {
    pointer-events: all;
}

.leagues-table {
    pointer-events: all;
}

.league-list-wrapper {
    position: absolute;
    z-index: 50;
    width: 325px;
    height: auto;
    padding: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 4px solid #003d69;
    background: linear-gradient(#0a5996, #5cb3f0);
}

.league-list-wrapper .league-section {

}

.league-list-wrapper .title {
    color: #ffe33e;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 6px;
}

.league-list-wrapper .icon_completed {
    position: absolute;
    z-index: 51;
    margin-left: 31px;
    margin-top: 26px;
    transform: scale(0.8);
}

.sprite.lock {
    transform: scale(0.75);
    margin-left: 2px;
    z-index: 50;
    position: absolute;
    opacity: 0.8;
    filter: brightness(20%);
}

.minimal-popups-wrapper {
    position: absolute;
    z-index: 60;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.minimal-popup {
    width: 290px;
    height: auto;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 15px;
    padding: 8px;
    text-align: center;
    pointer-events: none;
    margin-bottom: 10px;
}

.minimal-popup .title {
    color: #ffe33e;
    font-size: 34px;
}

.minimal-popup .description {
    color: #fff;
    font-size: 23px;
}

.button-block {
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
    /*background: rgba(255, 202, 0, 0.45);*/
    position: relative;
}

.button-block .reach-league-text {
    font-size: 25px;
    color: #fdd249;
    display: inline-block;
}

.button-block .button {
    cursor: pointer;
}

.button-block .button .text {
    color: white;
    font-size: 19px;
    display: inline-block;
    transform: translateY(-18px);
    margin-left: 5px;
}

.button-block .button.blue {
    background: url(../ui/vector/btn_blue_off.svg) no-repeat;
    width: 149px;
    height: 49px;
    display: inline-block;
}

.button-block .coin-icon {
    background: url(../ui/vector/coin.svg) no-repeat;
    width: 33px;
    height: 40px;
    display: inline-block;
    margin-top: 7px;
}

.button-block .play-icon {
    background: url(../ui/vector/icon_play.svg) no-repeat;
    width: 48px;
    height: 50px;
    display: inline-block;
    margin-top: 0px;
}

.play-block {
    width: 100%;
    height: 100%;
    /*background: rgba(161, 0, 0, 0.54);*/
    position: absolute;
    margin-top: -216px;
}

/*slick*/
.slick-track {
    height: 260px;
}

@media only screen and (max-width: 600px) {
    .tutorial_left {
        transform: scale(0.75) translate(-17%, 5%);
    }
    .tutorial_right {
        transform: scale(0.75) translate(17%, 8%);
    }
}

@media only screen and (max-width: 370px) {
    .tutorial_left {
        transform: scale(0.6) translate(-34%, 15%);
    }
    .tutorial_right {
        transform: scale(0.6) translate(34%, 21%);
    }
}
@media only screen and (max-width: 340px) {
    .selection-wrapper {
        transform: scale(0.9) translateY(-7%);
    }
}

/*@media only screen and (max-height: 475px) {*/
    /*.change-character-wrapper {*/
        /*margin-top: 53px !important;*/
    /*}*/
/*}*/

/*@media only screen and (max-height: 452px) {*/
    /*.change-character-wrapper {*/
        /*margin-top: 53px !important;*/
    /*}*/

    /*.tap-to-play-main-menu {*/
        /*margin-top: -15px !important;*/
    /*}*/
/*}*/

@media only screen and (max-height: 582px) {
    #win-lose-screen-wrapper .head-wrapper {
        transform: scale(0.78) translateY(6%);
    }
}

@media only screen and (max-height: 494px) {
    #win-lose-screen-wrapper {
        transform: scale(0.8) translateX(-65%) translateY(-65%)
    }
}

/* Main menu media */

@media only screen and (max-height: 773px) {
    .change-character-wrapper .right {
        transform: scale(0.75) !important;
    }
    .change-character-wrapper .left {
        transform: scale(0.5) translateY(100%) !important;
     }
    .change-character-wrapper {
        margin-top: -11px !important;
    }
}

@media only screen and (max-height: 661px) {
    .inner-character-container-wrapper {
        transform: rotate(180deg) scale(1.0) !important;
        /*margin-bottom: -23px !important;*/
        /*margin-top: -74px !important;*/
    }
}

@media only screen and (max-height: 633px) {
    .character-container-wrapper {
        /*transform: rotate(180deg) scale(0.75) !important;*/
        margin-bottom: 85px !important;
        margin-top: 50px !important;
    }
}

@media only screen and (max-height: 591px) {
    .character-container-wrapper {
        margin-top: 20px !important;
        margin-bottom: 65px !important;
    }

    .play-block {
        margin-top: -190px;
    }

    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.9;
    }
}

@media only screen and (max-height: 542px) {
    .inner-character-container-wrapper {
        transform: rotate(180deg) scale(0.75) !important;
    }
    .character-container-wrapper {
        margin-bottom: 24px !important;
    }

    .play-block {
        margin-top: -170px;
    }
    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.8;
    }
}

@media only screen and (max-height: 502px) {
    .character-container-wrapper {
        margin-top: 15px !important;
        margin-bottom: 0px !important;
    }

    .play-block {
        margin-top: -143px;
    }

    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.7;
    }
}


@media only screen and (max-height: 502px) {
    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.6;
    }

}

@media only screen and (max-height: 465px) {
    .button-block {
        zoom: 0.8;
    }

}

/*League list zoom START*/
@media only screen and (max-height: 661px) {
    .league-list-wrapper {
        zoom: 0.95;
        margin-top: 15px;
    }
}

@media only screen and (max-height: 604px) {
    .league-list-wrapper {
        zoom: 0.9;
        margin-top: 30px;
    }
}

@media only screen and (max-height: 561px) {
    .league-list-wrapper {
        zoom: 0.85;
    }
}

@media only screen and (max-height: 533px) {
    .league-list-wrapper {
        zoom: 0.8;
    }
}

@media only screen and (max-height: 502px) {
    .league-list-wrapper {
        zoom: 0.75;
    }
}

@media only screen and (max-height: 486px) {
    .league-list-wrapper {
        zoom: 0.7;
    }
}

@media only screen and (max-height: 460px) {
    .league-list-wrapper {
        zoom: 0.65;
    }
}

@media only screen and (max-height: 424px) {
    .league-list-wrapper {
        zoom: 0.6;
    }
}
/*League list zoom END*/


/*WIDTH!*/

@media only screen and (max-width: 376px) or (max-height: 376px){
    .change-character-wrapper .right {
        margin-top: -130px;
    }
}

/* Top tables resize on smaller screens */
@media only screen and (max-width: 434px) {
    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.9;
    }
}

@media only screen and (max-width: 392px) {
    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.8;
    }
}

@media only screen and (max-width: 342px) {
    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.7;
    }
}

@media only screen and (max-width: 308px) {
    #lobby-screen-wrapper .tables-wrapper {
        zoom: 0.6;
    }
}

/*HEIGHT*/

/*@media only screen and (max-width: 434px) {*/
    /*#lobby-screen-wrapper .tables-wrapper {*/
        /*zoom: 0.9;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 392px) {*/
    /*#lobby-screen-wrapper .tables-wrapper {*/
        /*zoom: 0.8;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 342px) {*/
    /*#lobby-screen-wrapper .tables-wrapper {*/
        /*zoom: 0.7;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 308px) {*/
    /*#lobby-screen-wrapper .tables-wrapper {*/
        /*zoom: 0.6;*/
    /*}*/
/*}*/
