* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


html, body {
    width: 100%;
    height: 100%;
    background: black;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
}


#wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}


#wrapper canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
